--
-- PostgreSQL database dump
--

\restrict gtXhdqu224xEiZrykoe3nhNV3PbJZoadsQAmJjh4yfDEoSEua1hrNo4N4kp5jUS

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: content_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.content_status AS ENUM (
    'brouillon',
    'publie',
    'programme'
);


ALTER TYPE public.content_status OWNER TO postgres;

--
-- Name: contract_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.contract_status AS ENUM (
    'actif',
    'expire',
    'en_attente',
    'annule'
);


ALTER TYPE public.contract_status OWNER TO postgres;

--
-- Name: contract_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.contract_type AS ENUM (
    'auto',
    'habitation',
    'sante',
    'moto'
);


ALTER TYPE public.contract_type OWNER TO postgres;

--
-- Name: feedback_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.feedback_status AS ENUM (
    'nouveau',
    'en_cours',
    'traite',
    'urgent'
);


ALTER TYPE public.feedback_status OWNER TO postgres;

--
-- Name: incident_severity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incident_severity AS ENUM (
    'leger',
    'moyen',
    'eleve'
);


ALTER TYPE public.incident_severity OWNER TO postgres;

--
-- Name: incident_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incident_status AS ENUM (
    'en_cours',
    'traite',
    'en_attente'
);


ALTER TYPE public.incident_status OWNER TO postgres;

--
-- Name: quote_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.quote_status AS ENUM (
    'envoye',
    'en_attente',
    'accepte',
    'refuse',
    'expire'
);


ALTER TYPE public.quote_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'client',
    'employee',
    'admin'
);


ALTER TYPE public.user_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agencies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    address text,
    phone text,
    lat double precision,
    lng double precision,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    image_url text
);


ALTER TABLE public.agencies OWNER TO postgres;

--
-- Name: content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    excerpt text,
    content text,
    author_id uuid,
    category text,
    image_url text,
    status public.content_status DEFAULT 'publie'::public.content_status,
    event_date date,
    location text,
    read_time text,
    views_count integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.content OWNER TO postgres;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contracts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    policy_number text NOT NULL,
    client_id uuid NOT NULL,
    quote_id uuid,
    type public.contract_type NOT NULL,
    status public.contract_status DEFAULT 'actif'::public.contract_status,
    start_date date NOT NULL,
    end_date date NOT NULL,
    annual_amount numeric(10,2) NOT NULL,
    deductible numeric(10,2) NOT NULL,
    coverage text NOT NULL,
    payment_method text DEFAULT 'mensuel'::text,
    vehicle_info jsonb,
    property_info jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.contracts OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    participant_one uuid,
    participant_two uuid,
    type text DEFAULT 'client'::text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    file_url text NOT NULL,
    file_type text,
    file_size text,
    entity_type text NOT NULL,
    entity_id uuid NOT NULL,
    uploaded_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title text NOT NULL,
    excerpt text,
    content text,
    author_id integer,
    category character varying(100),
    image_url text,
    status character varying(50) DEFAULT 'publie'::character varying,
    event_date date,
    location text,
    read_time character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "time" character varying(16),
    organizer text,
    attendees integer DEFAULT 0,
    external_url text
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: feedbacks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedbacks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    client_id uuid,
    subject text NOT NULL,
    message text NOT NULL,
    rating integer,
    category text,
    source text,
    status public.feedback_status DEFAULT 'nouveau'::public.feedback_status,
    is_responded boolean DEFAULT false,
    public_quote boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT feedbacks_rating_check CHECK (((rating >= 0) AND (rating <= 5)))
);


ALTER TABLE public.feedbacks OWNER TO postgres;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    reference text NOT NULL,
    contract_id uuid NOT NULL,
    client_id uuid NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    date date NOT NULL,
    "time" time without time zone,
    location text,
    type public.contract_type NOT NULL,
    severity public.incident_severity DEFAULT 'moyen'::public.incident_severity,
    status public.incident_status DEFAULT 'en_cours'::public.incident_status,
    estimated_cost numeric(12,2),
    assigned_employee_id uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.incidents OWNER TO postgres;

--
-- Name: message_ai_delegations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_ai_delegations (
    conversation_id uuid NOT NULL,
    client_id uuid,
    employee_id uuid,
    enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.message_ai_delegations OWNER TO postgres;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    conversation_id uuid,
    sender_id uuid,
    content text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    file_url text,
    file_type text,
    reply_to uuid,
    reactions jsonb DEFAULT '[]'::jsonb,
    deleted boolean DEFAULT false,
    removed_for jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    user_id uuid NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    phone text,
    address text,
    birth_date date,
    profile_image_url text,
    loyalty_score integer DEFAULT 50,
    risk_level text DEFAULT 'medium'::text,
    notes text,
    is_active boolean DEFAULT true,
    join_date date DEFAULT CURRENT_DATE
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quotes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    reference text NOT NULL,
    client_id uuid,
    type public.contract_type NOT NULL,
    status public.quote_status DEFAULT 'en_attente'::public.quote_status,
    amount numeric(10,2) NOT NULL,
    deductible numeric(10,2),
    coverage_details text,
    validity_days integer DEFAULT 30,
    vehicle_details jsonb,
    property_details jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.quotes OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role public.user_role DEFAULT 'client'::public.user_role NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Data for Name: agencies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: content; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, name, file_url, file_type, file_size, entity_type, entity_id, uploaded_by, created_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: feedbacks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feedbacks (id, client_id, subject, message, rating, category, source, status, is_responded, public_quote, created_at) FROM stdin;
13991e70-3e87-4c57-9f05-8667332c2fb0	5861b2ae-7b1d-48cc-bdd7-bb159b080a04	azerty	bien	4	general	web	nouveau	f	f	2026-04-25 14:11:00.445504+03
8ae6053d-19e6-4273-96cd-d5a544e561b5	5861b2ae-7b1d-48cc-bdd7-bb159b080a04	bien	super site	5	general	web	nouveau	f	f	2026-04-25 16:01:45.190288+03
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incidents (id, reference, contract_id, client_id, title, description, date, "time", location, type, severity, status, estimated_cost, assigned_employee_id, created_at, updated_at) FROM stdin;
7cfe65f1-9c3a-4a6f-87ff-988f7edb32da	INC-2026-579	f024bcb7-134a-4734-9d79-d2e6e7b456a5	5861b2ae-7b1d-48cc-bdd7-bb159b080a04	Vol	dadaffaf\n\nTemoins: ;yfkyufkugliugluilu\n\nResponsabilite: other\n\nTiers: fazfaf	2026-04-25	13:02:00	75001	moto	moyen	en_cours	\N	\N	2026-04-25 15:30:51.916215+03	2026-04-25 15:30:51.916215+03
\.


--
-- Data for Name: message_ai_delegations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_ai_delegations (conversation_id, client_id, employee_id, enabled, created_at, updated_at) FROM stdin;
ec0c1e16-e9ad-4667-84fe-35ecbcca390a	5861b2ae-7b1d-48cc-bdd7-bb159b080a04	653451fc-e37a-4657-8971-ecdc4e020dba	t	2026-05-04 16:03:32.891927+03	2026-05-04 16:03:32.891927+03
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quotes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 4, true);


--
-- Name: agencies agencies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agencies
    ADD CONSTRAINT agencies_pkey PRIMARY KEY (id);


--
-- Name: content content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content
    ADD CONSTRAINT content_pkey PRIMARY KEY (id);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (id);


--
-- Name: contracts contracts_policy_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_policy_number_key UNIQUE (policy_number);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: feedbacks feedbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_reference_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_reference_key UNIQUE (reference);


--
-- Name: message_ai_delegations message_ai_delegations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_ai_delegations
    ADD CONSTRAINT message_ai_delegations_pkey PRIMARY KEY (conversation_id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (user_id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_reference_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_reference_key UNIQUE (reference);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_agencies_lat_lng; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agencies_lat_lng ON public.agencies USING btree (lat, lng);


--
-- Name: idx_events_event_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_event_date ON public.events USING btree (event_date);


--
-- Name: idx_events_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_status ON public.events USING btree (status);


--
-- Name: idx_message_ai_delegations_client_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_ai_delegations_client_id ON public.message_ai_delegations USING btree (client_id);


--
-- Name: idx_message_ai_delegations_enabled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_ai_delegations_enabled ON public.message_ai_delegations USING btree (enabled);


--
-- Name: idx_messages_file_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_file_url ON public.messages USING btree (file_url);


--
-- Name: content content_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content
    ADD CONSTRAINT content_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: contracts contracts_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: contracts contracts_quote_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_quote_id_fkey FOREIGN KEY (quote_id) REFERENCES public.quotes(id);


--
-- Name: conversations conversations_participant_one_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_participant_one_fkey FOREIGN KEY (participant_one) REFERENCES public.users(id);


--
-- Name: conversations conversations_participant_two_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_participant_two_fkey FOREIGN KEY (participant_two) REFERENCES public.users(id);


--
-- Name: documents documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: feedbacks feedbacks_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: incidents incidents_assigned_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_assigned_employee_id_fkey FOREIGN KEY (assigned_employee_id) REFERENCES public.users(id);


--
-- Name: incidents incidents_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: incidents incidents_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(id);


--
-- Name: message_ai_delegations message_ai_delegations_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_ai_delegations
    ADD CONSTRAINT message_ai_delegations_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: message_ai_delegations message_ai_delegations_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_ai_delegations
    ADD CONSTRAINT message_ai_delegations_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: message_ai_delegations message_ai_delegations_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_ai_delegations
    ADD CONSTRAINT message_ai_delegations_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: messages messages_reply_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reply_to_fkey FOREIGN KEY (reply_to) REFERENCES public.messages(id) ON DELETE SET NULL;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quotes quotes_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict gtXhdqu224xEiZrykoe3nhNV3PbJZoadsQAmJjh4yfDEoSEua1hrNo4N4kp5jUS

